{% comment %}
  获取最近更新的5篇文章，若没有最后更新日期则按照文章发布日期来考虑
{% endcomment %}

{% assign MAX_SIZE = 5 %}

{% assign all_list = "" | split: "" %}

{% for post in site.posts %}
  {% if post.last_modified_at %}
    {% capture elem %}
      {{- post.last_modified_at | date: "%Y%m%d%H%M%S" -}}::{{- forloop.index0 -}}
    {% endcapture %}
  {% else %}
    {% capture elem %}
      {{- post.date | date: "%Y%m%d%H%M%S" -}}::{{- forloop.index0 -}}
    {% endcapture %}
  {% endif %}
  {% assign all_list = all_list | push: elem %}
{% endfor %}

{% assign all_list = all_list | sort | reverse %}

{% assign update_list = "" | split: "" %}

{% for entry in all_list limit:MAX_SIZE %}
  {% assign update_list = update_list | push: entry %}
{% endfor %}
